page-associations {

  .searchBarInput {
    padding-bottom: 0px;
    color: #fff !important;
  }

  div.toolbar-content.toolbar-content-md > ion-item > div.item-inner > div > ion-label {
    margin: 0 !important;
    padding: 0 !important;
  }

}
