page-login {

  ion-content {
    background: url('../assets/imgs/background.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;

  }

  ion-label {
    color: color($colors,"light") !important;
  }

  .loginSegment {
    box-shadow: none;
  }

  .segment-button {
    color: color($colors,"light") !important;
    border-bottom-color: transparent !important;
  }
  .segment-button.segment-activated {
      border-color: color($colors,"search") !important;
      color: color($colors,"search") !important;
  }

  .loginCard {
    position: absolute;
    top: 2%;
    width: 85%;
    background: transparent;
    box-shadow: none;
    border-radius: 10px;

  }

  .last {
    padding-bottom: 15px;
  }

  .authChoice {
    border-right: 1px solid lawngreen !important;
  }

  .inputConnexion {
    background: transparent;
    color: color($colors,"secondary");
    padding-left: 16px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #32db64 !important;
  }

  .inputConnexion:focus {
    border-bottom-color: color($colors,"search") !important;
  }

  .inputInscription {
    background: transparent;
    color: color($colors,"secondary");
    padding-left: 16px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #32db64 !important;
  }

  .inputInscription:focus {
    border-bottom-color: color($colors,"search") !important;
  }

  .signInButton {
    position: absolute !important;
    bottom: 5%;
    left: 8%;

  }

  .signUpButton {
    position: absolute !important;
    bottom: 5%;
    right: 8%;
  }

}
