page-profil {

  ion-content {
    background: url('../assets/imgs/profil.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;

  }

  .profilNavBar {

    #drawerButton {
      color: color($colors, "light");
    }

    #title {
      text-align: center;
      padding: 0 !important;
      font-weight: bold;

      div {
        color: color($colors, "light");
      }
    }

  }

  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    height:auto;
  }

  .pageTitle {
    text-align: center;
    padding: 0 !important;
  }

  .toolbar-title-ios {
    padding-bottom: 13px;
  }

  .toolbar-title-md {
    padding: 0 0px;
    padding-right: 0px;
    font-size: 2rem;
    font-weight: 500;
    color: #424242;
  }

  .cardProfile {
    border: 1px solid limegreen;
    position: absolute;
    top: 35%;
    border-radius: 20px;
  }

  .pseudo {
    color: #fff;
  }

  .pseudoImage {
    background: transparent;
    text-align: center;
    position: absolute;
    top: 1%;
    padding-top: 0px;
  }

  .pseudoItem {
    background: transparent;
    text-align: center;
    position: absolute;
    top: 25%;
    padding-top: 0px;
  }

  ion-label {
    color: #488aff !important;
  }

  .inputProfile:focus {
    border-bottom-color: #488aff !important;
  }

  .text-input[disabled] {
    opacity: 0.85;
    color: green;
  }

  .inputProfile {
    color: #488aff !important;
    padding-left: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
  }

  .profilePic {
    width: 108px;
    height: 108px;
    border-radius: 54px;
  }

  .back-button {
    color: white;
  }

}
