page-association {

    ion-content {
      background: url('../assets/imgs/homeWallpaper.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      background-size: cover;

    }

  .assoNavBar {

    #drawerButton {
      color: color($colors, "light");
    }

    #title {
      text-align: center;
      padding: 0 !important;

      div {
        color: color($colors, "light");
      }
    }

  }

  .title-ios {
    left: -23px !important;
  }

  .toolbar-title-ios {
    padding-bottom: 13px;
    font-size: 2.4rem;
    font-weight: normal;
  }

  .toolbar-title-md {
    padding: 0 0px;
    padding-right: 0px;
    font-size: 2rem;
    font-weight: 500;
    color: #424242;
  }

  .pseudo {
    color: #fff;
  }

  .pseudoImage {
    background: transparent;
    text-align: center;
    padding-top: 0px;
    padding-left: 0px;
    margin-left: 0 px;
  }

  .pseudoItem {
    background: transparent;
    text-align: center;
    font-size: x-large;
    text-align: center;
    padding-top: 0px;
    padding-left: 0;
    margin-left: 0;
    outline: none;
    border: none;
  }

  .pseudoItem .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .inputChip > input {
    color: #3e2723;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;

  }

  .pseudoItem .inputChip > input[disabled] {
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;

  }

  ion-label {
    color: #488aff !important;
  }

  .inputProfile:focus {
    border-bottom-color: #488aff !important;
  }

  .text-input[disabled] {
    opacity: 0.85;
    color: green;
  }

  .inputChip > input {
    margin-top: 0px !important;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .inputProfile {
    color: #488aff !important;
    padding-left: 16px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
  }

  .profilePic {
    width: 108px;
    height: 108px;
    border-radius: 54px;
  }

  .cardProfile {
    border: 1px solid limegreen;
    border-radius: 20px;
  }

  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    height:auto;
  }

}
