page-contact {

  ion-content {
    background: url('../assets/imgs/messages.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
  }


  .homeNavBar {

    #drawerButton {
      color: color($colors, "dynamic");
    }

    #title {
      text-align: center;
      padding: 0 !important;

      div {
        color: color($colors, "dynamic");
      }
    }

  }

  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    height:auto;
  }

  .title-ios {
    left: -23px !important;
  }

  .chatterItem {
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 95%;
    background-color: color($colors,"dynamic");

    h2 {
      color: white;
    }

    p {
      color: color($colors,"dark");
    }

  }

  .toolbar-title-ios {
    padding-bottom: 13px;
    font-size: 2.4rem;
    font-weight: normal;
  }

  .toolbar-title-md {
    padding: 0 0px;
    padding-right: 0px;
    font-size: 2rem;
    font-weight: 500;
    color: #424242;
  }

  .toolbar-title-ios {
    padding: 0 0px;
    padding-right: 0px;
    font-size: 2rem;
    font-weight: 500;
    color: #424242;
  }



}
