page-contact {

  .pageTitle {
    text-align: center;
    padding: 0 !important;
  }

  .title-ios {
    left: -23px !important;
  }

  ion-content {
    background: url('../assets/imgs/messages.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
  }

  .toolbar-title-ios {
    padding-bottom: 13px;
    font-size: 2.4rem;
    font-weight: normal;
  }

  .toolbar-title-md {
    padding: 0 0px;
    padding-right: 0px;
    font-size: 2rem;
    font-weight: 500;
    color: #424242;
  }

  .toolbar-title-ios {
    padding: 0 0px;
    padding-right: 0px;
    font-size: 2rem;
    font-weight: 500;
    color: #424242;
  }



}
