event-card {

  ion-label {
    color: #488aff !important;
  }

  .slide {
    ion-list {
      margin-bottom: 15px;
    }
  }

  .wrap-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .eventImage {
    width: 100%;
    height: auto;
    max-height: 225px;
  }

  .noPadding {
    text-align: center;
    ion-col {
      padding: 0;
    }
  }

  .roundCard {
    border-radius: 10px;
    border: 1px solid limegreen;
    margin-top: 20px;
  }

  .eventChoice {
    border-right: 1px solid lawngreen !important;
  }

  .card-md h2 {
    color: #488aff !important;
  }

  .roundPicture {
    border-radius: 6px;
    height: 80px;
    max-height: 80px;
    width: 128px;
    width: 100%;
  }

  .publication {
    position: absolute;
    bottom: 15px;
    left: 25px;
  }


}
