$refresher-icon-color : color($colors, "primary") !important;
$refresher-text-color : color($colors, "primary") !important;

page-users {

  .searchBarInput {
    padding-bottom: 0px;
    color: #fff !important;
  }

  .content {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end
  }

  ion-content.has-refresher > .scroll-content {
    background-color: transparent;
  }

  .card-md {
    margin: 10px 10px 0px 10px;
  }

  div.toolbar-content.toolbar-content-md > ion-item > div.item-inner > div > ion-label {
    margin: 0 !important;
    padding: 0 !important;
  }

}
